@media screen and (min-width: 768px) {
  .show_destop {
    postion: fixed;
    display: block !important;
  }
}
@media screen and (max-width: 990px) {
  .hidden_toggle-mobile {
    display: none;
  }
}
