@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  font-family: "Open Sans", sans-serif;
}
body{
scroll-behavior: smooth;
overflow: hidden;
}
::-webkit-scrollbar{
    width: 3px;
    background-color: #2E2E2E;
}
::-webkit-scrollbar-thumb{  
    background-color: #111;
}
::-webkit-scrollbar-track{
    background-color: #262626;
}

.skeleton--effect{
  background-color: rgb(87 83 78 /0.6);;
}